{% extends 'base.html' %}
{% block header %}
    <h2><a href="{% url 'filter' %}">Reset form</a></h2>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'filter' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    {% for item, data in aggregation.items %}
        <b>{{ item }}</b>
        {% for key, value in data.items %}
            {{ key }}: {{ value }}
        {% endfor %}
        <br>
    {% endfor %}
{% endblock content %}